@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.eventClubLogo {
  width:55px;
  height:55px;
  position:relative;
  top:-232px;
  left:8px;
}
.timeStamp {
  position:relative;
  top:-120px;
  left:8px;
}

.date1 {
  display: inline-block;
  font-size: 15px;
  font-weight: semibold;
  line-height: 15px;
  height: 22px;
  color:white;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 3px;
  border-bottom-width: 1.5px;
}
.date2 {
  display: inline-block;
  font-size: 32px;
  line-height: 26px;
  height: 35px;
  color:white;
  border-left-width: 3px;
  border-right-width: 3px;
  border-top-width: 1.5px;
  border-bottom-width: 3px;
}

.textDesc {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 4; /* number of lines to show */
           line-clamp: 4; 
   -webkit-box-orient: vertical;
}

.eventDetailImg {
  width:100%;
  object-fit: cover;
}
.eventCreationImg {
  height: 50%;
  object-fit: cover;
}


.timeStamp2 {
  position:relative;
  width:12%;
  top: -65px;
  left:calc(86.5%);
}
.timeStamp2sm {
  position:relative;
  width:12%;
  top: -97px;
  left:calc(87%);
}
.timeStamp2md {
  position:relative;
  width:12%;
  top: -110px;
  left:calc(87%);
}
.timeStamp2lg {
  position:relative;
  width:12.5%;
  top: -120px;
  left:calc(86.5%);
}

.date11 {
  display: inline-block;
  font-size: 70%;
  font-weight: semibold;
  line-height: 100%;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 5px;
  border-bottom-width: 2.5px;
  color:#F7D9FF;
}
.date22 {
  display: inline-block;
  font-size: 200%;
  line-height: 100%;
  border-left-width: 5px;
  border-right-width: 5px;
  border-top-width: 2.5px;
  border-bottom-width: 5px;
  color:#F7D9FF;
}

.nameStamp{
  position:relative;
  bottom: 165px;
  left:10px;
}
.nameStampsm{
  position:relative;
  bottom: 200px;
  left:15px;
}
.nameStampmd{
  position:relative;
  bottom: 240px;
  left:15px;
}
.nameStamplg{
  position:relative;
  bottom: 270px;
  left:15px;
}

.changeImage{
  color: white;
  position:relative;
  bottom: 165px;
  margin: 0 auto;
  font-size: 16px;
  transition: transform .5s;
}
.changeImagesm{
  color: white;
  position:relative;
  bottom: 200px;
  margin: 0 auto;
  font-size: 32px;
  transition: transform .5s;
}
.changeImagemd{
  color: white;
  position:relative;
  bottom: 240px;
  margin: 0 auto;
  font-size: 48px;
  transition: transform .5s;
}
.changeImagelg{
  color: white;
  position:relative;
  margin: 0 auto;
  bottom: 270px;
  font-size: 64px;
  transition: transform .5s;
}
.changeImage:hover {
  transform: scale(1.2); 
}
.changeImagesm:hover {
  transform: scale(1.2); 
}
.changeImagemd:hover {
  transform: scale(1.2); 
}
.changeImagelg:hover {
  transform: scale(1.2); 
}

.date11sm{
  font-size: 120%;
  line-height:110%;
  border-bottom-width: 5px;
}
.date11md{
  font-size: 140%;
  line-height:110%;
  border-bottom-width: 5px;
}
.date11lg{
  font-size: 150%;
  line-height:110%;
  border-bottom-width: 5px;
}
.date22sm{
  font-size: 380%;
  line-height: 100%;
  position: relative;
  top:-8px;
  border-top-width: 0px;
}
.date22md{
  font-size: 450%;
  line-height: 100%;
  position: relative;
  top:-10px;
  border-top-width: 0px;
}
.date22lg{
  font-size: 500%;
  line-height: 100%;
  border-top-width: 0px;
}
.copylink{
  background-color: #FEFBFF;
  border-radius: 8px;
  padding-right: 25px;
  padding-left: 25px;
  height: 35px;
  border:  1px solid rgba(0, 0, 0, 0.25);
  
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}